doctype html
html
  head
    title test
    link(rel="stylesheet" href="./public/css/index.css")
    script(src="./public/js/index.js" type="text/javascript")

  body
    canvas(id="main" width="672px" height="480px")
    canvas(id="window" width="672px" height="480px")
    canvas(id="anime" width="672px" height="480px")
