doctype html
html
  head
    title test
    link(rel="stylesheet" href="./public/css/index.css")
    script(src="./public/js/index.js" type="text/javascript")

  body
  
    #gameCanvas
      canvas(id="map" width="672px" height="480px")
      canvas(id="move" width="672px" height="480px")
      canvas(id="player" width="672px" height="480px")
      canvas(id="window" width="672px" height="480px")
      canvas(id="anime" width="672px" height="480px")
