canvas {
  background-color: transparent;
  position: absolute;
}

#map {
  background-color: black;
  z-index: 1;
}
#move {
  z-index: 2
}

#player {
  z-index: 3;
}

#window {
  z-index: 5;
}

#anime {
  z-index: 4;
}

body {
  width : 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  width: 672px;
  height: 480px;
  overflow: hidden;
}
